h3 {
  font-size: 50px;
  padding-top: 5%;
  font-family: 'Kaushan Script', cursive;
}
h4 {
  font-family: 'Montserat', sans-serif;
  font-size: 90px;
  font-weight: 700;
}
.mogoTop{
  font-family: 'Montserat', sans-serif;
  font-weight: 500;
  padding-left: 10%;
  padding-top: -20px;
  align-items: baseline;
}
.nav-link{
  color: white;
  font-weight: 100;
  font-size: 12px;
  opacity: 0.75;
}
.nav-link:hover {
  //border-bottom: 100%;
  //border-bottom-color: #FBE389;
  opacity: 1;
}
.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}
.nav-link::before {
  width: 0%;
  bottom: 10px;
}
.nav-link-ltr:hover::before {
  width: 10%;
}

#learnMoreButton{
  font-family: 'Montserat', sans-serif;
  align-items: center;
  text-align: center;
  border-color: white;
  border: 200x;
  border-width: 3px;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 23px;
  padding-right: 23px;
  font-weight: 900;
}
 #team-box-bg{
  max-width: 200px;
  border-radius: 0px;
 }
 #team-box-gear{
  max-width: 200px;
  border-radius: 0px;
 }
 #team-box-desk{
  max-width: 200px;
  border-radius: 0px;
 }
 #design-bg{
   max-height: 70%;
   object-fit: none;

   overflow: hidden;
 }
 #ipad-vertical{
   max-width: 300px;
   margin-bottom: -38.6%;
 }
 #iphone-vertical{
   max-width: 225px;
   padding-top: 30%;
   padding-left: 75px;
   position: absolute;
  }
 #about-us-what-we-do{
   font-family: 'Kaushan Script', cursive;
 }
 #about-us-story-about-us{
   font-family: 'Montserat', sans-serif;
   margin-bottom: -10px;
 }
 .about-us-separator{
   font-family: 'Montserat', sans-serif;
   padding-top: -20px;
   font-size: 30px;
   font-weight: 900;
   color:#F38181;
 }
 .card{
   border: none;
   border-radius: 0px;
 }
 .card-img{
   border-radius: 0px;
 }

.card-header{
  border-radius: 0px;
}
.card-img-top{
  border-radius: 0px;
}
.design-devices-headline{
  font-family: 'Kaushan Script', cursive;
  margin: 0px;
  font-size: 25px;
}
.design-devices-headline2{
  font-family: 'Montserat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0px;
}
.vertical-line-design-headling{
  font-size: 12px;
  color: #F38181;
  font-weight: 900;
  padding-top: -20px;
  margin: 0px;
}
#design-bg{
  overflow: hidden;
}
#background-carousel{
  color: #F8F8F8;
}
.panel{
  display: none;
  border-width: 1px;
  border-color: #C7C7C7;
}
.accordion{
  border-width: 1px;
  border-color: #C7C7C7;
  background: none;
  height: 30px;
  width: 300px;
  text-align: left;
  margin: 5px;
  margin-left: 10px;
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.panel-text{
  color: #E5E5E5;
  text-align: left;
  margin-left: 50px;
  overflow: auto;
  height: 120px;
  max-width: 300px;
}

.team{
  max-width: 200px;
}

.clients{
  max-width: 70px;
  background-color: #F8F8F8;
}
#client-card{
  background-color: #F8F8F8;
}
.client-card{
  background-color: #F8F8F8;
}
.gallery{
  width: 270px;
  margin: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}
.p-5{
  border-radius: 0px;
  border-width: 1px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-color: white;
  background-color: #95E1D4;
}
.flex-roboto-head{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 32px;
}
.flex-roboto-body{
  color: white;
  font-size: 6px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.carousel-item{
  max-width: 500px;
  max-height: 150px;
  padding-left: 50px;
}
.title-amazing-services{
  font-size: 15px;
  font-family: 'Montserat', sans-serif;
}
.body-amazing-services{
  font-size: 12px;
}
.mb-1{
  border-bottom: E5E5E5;
  border-width: 4px;
}
.footer-section-col{
  background-color: #F8F8F8;
}
.footer-card{
  background-color: #F8F8F8;
}
.blog-img{
  max-width: 250px;
}
.date-card{
  max-width: 50px;
  max-height: 70px;
  background-color: #95E1D4;
  color: white;
  margin-top: 10%;
}
.date-num{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.date-mon{
  font-size: 12px;
}
.date-mon-card{
  padding: 0px;
  margin-top: -20%;
}
.date-num-card{
  padding: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(50%);
}
.carousel-img-first{
  padding-top: 30px;
}
.carousel-2{
  max-width: 50px;
}
.fancybox-img{
  max-width: 295px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: -25px;
}

.what_we_do_title{
  font-family: 'Kaushan Script', cursiv;
  font-size: 12px;
  font-weight: 400;
}
.what_we_do_text{
  font-family: 'Montserat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.what_we_do_main-text{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.happy-clients-img{
  float: left;
  max-width: 70%;
}
.happy-clients-text{
  vertical-align: middle;
  float: right;
}
.happy-clients-text-body{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
  color: #C7C7C7;
}
.happy-clients-name{
  font-size: 10px;
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
.happy-clients-title{
  font-size: 8px;
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 0px;
  margin: 0px;
  color: #686868;
}
.happy-clients-separator{
  font-size: 14px;
  color:#F38181;
  font-weight: 900;
  text-align: left;
  margin-top: -5%;
  margin-bottom: -0.1%;
}
.fifteen-k {
  font-size: 12px;
  font-family: 'Montserat', sans-serif;
  font-weight: 900;
  display: inline;
}
.followers-part{
  font-size: 10px;
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
  display: inline;
  padding-bottom: 1px;
}
.underscore-mogo-footer{
  font-weight: 100;
  padding-top: 0px;
  margin-top: -12%;
  color: #C7C7C7;
}
.form-control,
.btn-outline-secondary{
  border-radius: 0px;
}
.footer-title{
  font-size: 25px;
  font-family: 'Montserat', sans-serif;
  color: #C7C7C7;
  font-weight: 700;
}
.footer-title-blogs{
  vertical-align: top;
  font-family: 'Montserat', sans-serif;
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
}
.footer-text-blog{
  font-size: 12px;
  font-weight: 200;
  font-family: 'Roboto',sans-serif;
  text-align: left;
  text-transform: uppercase;
}
.footer-date-blog{
  font-size: 8px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: #C7C7C7;
}
.fancybox-img2{
  width: 75px;
  height: 75px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 2px;
  margin-bottom: 2px;
}
#copyright-footer{
  border-top-color: black;
  border-top-width: 5px;
}
.copyright-footer-text{
  font-size: 10px;
  font-family: 'Montserat', sans-serif;
  font-weight: 200;
  color: #C7C7C7;
}
.follow-us-tag{
  font-size: 10px;
  font-family: 'Montserat', sans-serif;
  margin-top: 10%;
}
.social-media-tags{
  max-width: 200px;
  margin-left:-4%;
}
.title-amazing-services{
  font-family: 'Montserat';
  font-size: 12px;
  color: #C7C7C7;
}
.body-amazing-services{
  padding: 0px;
  margin-top: -20%;
  font-size: 10px;
  font-family: 'Montserat', sans-serif;
  color: #C7C7C7;
  margin-left: -10%;
}
.amazing-services-card{
  max-height: 100px;
  width: 120%;
}
.team-names{
  font-family: 'Montserat', sans-serif;
  font-size: 12px;
  text-align: center;
}
.team-titles{
  font-family: 'Montserat', sans-serif;
  font-size: 10px;
  text-align: center;
}